body {
    background: linear-gradient(to left, rgb(173, 169, 150, 0.5), rgb(242, 242, 242), rgb(219, 219, 219), rgb(235, 235, 235));
}

.searchInput {
    position: relative;
}

.searchIcon {
    position: absolute;
    right: 12px;
}